snack-bar-container {
  .mat-simple-snackbar {
    justify-content: center;

    .mat-simple-snack-bar-content {
      text-transform: uppercase;
      font-size: 16px;
      color: white;
    }
  }

  &.alert-snackbar {
    background-color: red;
  }

  &.info-snackbar {
    background-color: green;
  }

  &.warining-snackbar {
    background-color: yellow;


    .mat-simple-snack-bar-content {
      color: black;
    }
  }
}
