app-game-view {
  .cart-container {
    &__handle-button {
      width: 48px;
      height: 48px;
      cursor: pointer;
      transition: .2s linear;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__handle-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;

      &--minus-sign {
        margin-top: 12px;
      }
    }
  }

  .empty-state {
    padding: 24px;
    background-color: $orange-color;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .2s linear;
    width: 60%;

    &__image {
      width: 48px;
      height: 48px;
    }

    &:hover {
      filter: blur(.8px);
    }

    @media(min-width: $tablet-size) {
      width: auto;
    }
  }
}
