app-game-view {
  .quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;


    @media(min-width: $tablet-size) {
      width: 750px;
      margin: 0 auto;
    }

    &__app-content {
      display: flex;
      flex-direction: column;
      background-color: $secondary-color;
      width: 100%;
      min-height: 300px;
      border-radius: 8px;
      padding: 2px 12px 10px;
      margin: 12px;

      @media(min-width: $tablet-size) {
        min-height: 200px;
        border-radius: 12px;
        padding: 2px 32px 10px;
      }
    }

    &__handle-button {
      width: 48px;
      height: 48px;
      cursor: pointer;
      transition: .2s linear;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__handle-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;

      &--minus-sign {
        margin-top: 12px;
      }
    }
  }

  .columned-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .empty-state {
    padding: 24px;
    background-color: $orange-color;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: .2s linear;

    &__image {
      width: 48px;
      height: 48px;
    }

    &:hover {
      filter: blur(.8px);
    }
  }
}
