$third-color: #03045E;
$background-layout-color: #ADE8F4;
$main-color: #00B4D8;
$secondary-color: #48CAE4;
$game-hover: #37B9D3;
$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1280px;
$text-color: #ADE8F4;
$game-color: #0077B6;

@font-face {
  font-family: 'NoToSans';
  src: url('../assets/fonts/NotoSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'NoToSans';
  src: url('../assets/fonts/NotoSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Patrick';
  src: url('../assets/fonts/PatrickHand-Regular.ttf');
  font-weight: normal;
}


body {
  background-color: $background-layout-color;
  font-family: 'NoToSans';
}
