<div class="functional-buttons-container">
  <div class="functional-buttons-container__single">
    <button mat-button
            color="primary"
            class="functional-button">
      <img src="assets/img/search.png"
           class="functional-button__icon"
           alt="">
    </button>
  </div>

  <div class="functional-buttons-container__column">
    <button mat-button
            class="functional-button">
      <img src="assets/img/next.png"
           class="functional-button__icon functional-button__icon--back"
           alt="">
    </button>
    <button mat-button
            color="primary"
            class="functional-button">
      <img src="assets/img/shuffle.png"
           class="functional-button__icon functional-button__icon--shuffle"
           alt="">
    </button>
    <button mat-button
            class="functional-button">
      <img src="assets/img/next.png"
           class="functional-button__icon"
           alt="">
    </button>
  </div>
</div>
