app-functional-buttons {
  .functional-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__column {
      display: flex;
      justify-content: center;
      gap: 12px;

      @media(min-width: $tablet-size) {
        gap: 24px;
      }
    }

    &__single {
      display: flex;
      justify-content: center;
    }
  }

  .functional-button {
    &__icon {

      &--back {
        transform: rotate(-180deg);
      }

      &--shuffle {
        width: 44px;
        height: 44px;
        padding: 0 8px;
      }
    }

    &__icon--fast-forward {
      width: 40px;
      height: 40px;
      padding: 0 8px;
    }
  }
}
