<div class="main-app-wrapper">
  <section class="games-wrapper">
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            class="menu"
            aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div (click)="openGame('main')"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/online-learning.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">Katalog pytań</p>
        <p class="game-scores">{{saveNumberCatalogQuestion >= 0 ? saveNumberCatalogQuestion + 1 : 0}} /
          {{ allQuestionNumber }}</p>
      </div>
    </div>
    <div (click)="openGame('chosenAnswers')"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/library.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">Ulubione pytania</p>
        <p class="game-scores">
          {{ !favouriteQuestions?.length ? 0 : saveNumberChosenQuestion + 1  }} /
          {{ favouriteQuestions ? favouriteQuestions.length : 0 }} </p>
      </div>

    </div>
    <div (click)="openExam()"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/exam.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">Egzamin</p>
        <p class="game-scores"> 40 </p>
      </div>

    </div>
  </section>
</div>
<mat-menu #menu="matMenu">
  <button (click)="openUploadComponent()"
          mat-menu-item>
    <span class="menu__item">Dodaj własne pytania</span>
  </button>
</mat-menu>

<footer class="footer-container">
  <div class="footer-container__part">
    <p class="footer-text ">&#169; Wojciech Gołda</p>
    <p class="footer-text footer-text--secondly">&#9751; Rzeszów</p>
  </div>
  <div class="footer-container__part">
    <p class="footer-text">&#9993; 4golda4@gmail.com</p>
    <p class="footer-text footer-text--secondly">&#9990; 731 604 761</p>
  </div>
</footer>
