<div class="main-app-wrapper">
  <section class="games-wrapper">
    <div (click)="openGame('main')"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/online-learning.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">Katalog pytań</p>
        <p class="game-scores">{{saveNumberCatalogQuestion}} / {{ allQuestionNumber }}</p>
      </div>
    </div>
    <div (click)="openGame('chosenAnswers')"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/library.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">Ulubione pytania</p>
        <p class="game-scores">{{saveNumberChosenQuestion}} /
          {{ favouriteQuestions && favouriteQuestions.length > 0 ? favouriteQuestions.length - 1 : 0 }} </p>
      </div>

    </div>
    <div (click)="openExam()"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/exam.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">Egzamin</p>
        <p class="game-scores"> 40 </p>
      </div>

    </div>
  </section>
</div>

<footer class="footer-container">
  <div class="footer-container__part">
    <p class="footer-text ">&#169; Wojciech Gołda</p>
    <p class="footer-text footer-text--secondly">&#9751; Rzeszów</p>
  </div>
  <div class="footer-container__part">
    <p class="footer-text">&#9993; 4golda4@gmail.com</p>
    <p class="footer-text footer-text--secondly">&#9990; 731 604 761</p>
  </div>
</footer>
