<div class="main-app-wrapper">
  <section class="games-wrapper">
    <!-- <button mat-icon-button
            [matMenuTriggerFor]="menu"
            class="menu"
            aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button> -->
    <div class="nation-flag"
         (click)="changeLanguage()">
      <img *ngIf="(sharedService.isPl$ | async)"
           class="nation-flag__img"
           src="assets/img/eng_flag.png"
           alt="">
      <img *ngIf="!(sharedService.isPl$ | async)"
           class="nation-flag__img"
           src="assets/img/pl_flag.png"
           alt="">
    </div>
    <div (click)="openGame('main')"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/online-learning.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">{{(sharedService.isPl$ | async) ? 'Katalog pytań' : 'Catalog of Questions'}} </p>
        <p class="game-scores">{{saveNumberCatalogQuestion >= 0 ? saveNumberCatalogQuestion + 1 : 0}} /
          {{ allQuestionNumber }}</p>
      </div>
    </div>
    <div (click)="openGame('chosenAnswers')"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/library.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">{{(sharedService.isPl$ | async) ? 'Ulubione pytania' : 'Favorite Questions'}}</p>
        <p *ngIf="favouriteQuestionsExist"
           class="game-scores">


          {{ favouriteQuestions.all_questions.length  }} /
          {{  favouriteQuestions.all_questions.length  }} </p>
        <p class="game-scores"
           *ngIf="!favouriteQuestionsExist">
          -
        </p>
      </div>

    </div>
    <div (click)="openExam()"
         class="games-wrapper__game single-game">
      <img class="single-game__image"
           src="assets/img/exam.png"
           alt="">
      <div class="single-game__text">
        <p class="title-game">{{(sharedService.isPl$ | async) ? 'Egzamin' : 'Exam'}}</p>
        <p class="game-scores"> 40 </p>
      </div>

    </div>
  </section>
</div>
<mat-menu #menu="matMenu">
  <button (click)="openUploadComponent()"
          mat-menu-item>
    <span class="menu__item">Dodaj własne pytania</span>
  </button>
</mat-menu>

<footer class="footer-container">
  <div class="footer-container__part">
    <p class="footer-text ">&#169; Wojciech Gołda</p>
  </div>
  <div class="footer-container__part">
    <p class="footer-text">&#9993; 4golda4@gmail.com</p>
  </div>
</footer>
